<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
	<meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="UTF-8">
	<title>The Death of the Authors 1945, Anne Frank’s collective voice</title>

    <link rel="stylesheet" href="static/css/styles.css" type="text/css" media="all" charset="utf-8">

</head>
<body>
    <div id="intro">

        <h1>The Death of the Authors, 1945</h1>
        <h2 lang="nl">Anne Franks collectieve stem</h2>
        <h2 lang="fr">La voix collective d’Anne Frank</h2>
        <h2 lang="en">Anne Frank’s collective voice</h2>

        <div id="progress">
            {% if leftover > total/2 %}
                 
                <div lang="nl">Nog {{ leftover }}&#x202F;/&#x202F;{{ total }} zinnen te&nbsp;gaan!</div>
                <div lang="en">Still {{ leftover }}&#x202F;/&#x202F;{{ total }} sentences to go!</div>
                <div lang="fr">Encore {{ leftover }}&#x202F;/&#x202F;{{ total }} phrases à&nbsp;lire&#x202F;!</div>
            {% else %}
                
                <div lang="nl">Al {{ leftover }}&#x202F;/&#x202F;{{ total }} zinnen gelezen!</div>
                <div lang="en">Already {{ leftover }}&#x202F;/&#x202F;{{ total }} sentences read so far!</div>
                <div lang="fr">Déjà {{ leftover }}&#x202F;/&#x202F;{{ total }} phrases lues&#x202F;!</div>
            {% endif %}
        </div>

        <nav>
            <button id="nl">NL</button>
            <button id="en" class="inactive">EN</button>
            <button id="fr" class="inactive">FR</button>
        </nav>
    </div> <!-- end #intro -->

        <div id="header-nl" lang="nl" class="header">
            <div class="intro">
                <p>
                    Bij wijze van experiment, maar ook als toonbeeld van de complexiteit die schuilgaat achter de notie van “publiek domein”, bevrijden we Anne’s dagboek zin voor zin. Je wordt uitgenodigd om je stem te lenen aan een of meerdere zinnen. Je kan de zinnen in willekeurige volgorde herbeluisteren.
                </p>
                <a href="#" class="read-more">→ Lees meer</a>
            </div>
            <div class="about">
                <a class="close">×</a>
                <h1>The Death of the Authors, 1945</h1>
                <h2 lang="nl">Anne Franks collectieve stem</h2>
                <p>
                    In 1945 liet Anne Frank als vijftienjarige het leven in het concentratiekamp Bergen-Belsen. Haar dagboek zou in het publiek domein verschijnen op 1 januari 2016, maar dit feit zorgde voor veel opspraak. De Anne Frank Foundation, een organisatie die werd opgericht door haar vader Otto Frank, int de rechten die komen uit de verkoop van ’s werelds beroemdste dagboek, en doet hiermee regelmatig schenkingen aan verschillende goede doelen. Zij stellen dat Anne’s dagboek nog onder auteursrecht is tot 1 januari 2051. 
                </p>
                <p>
                    Het boek zoals wij het kennen, met de titel Het Achterhuis, verscheen in 1947 als een compilatie van de hand van Anne’s vader, Otto Frank. Hij kopieerde en plakte uit de originele manuscripten van Anne, en zou ook een heel aantal stukken hebben herschreven in eigen stijl. Dit zou van het boek een afgeleid werk maken en van Otto een co-auteur, waardoor het auteursrecht geldt tot zeventig jaar na zijn dood in 1980. In Nederland en België zijn de originele fragmenten van het boek wel in het publiek domein. De vraag stelt zich dus of de fragmenten die vader Frank heeft herschreven artistieke ingrepen zijn. 
                </p>
                <p>
                    Bij wijze van experiment, maar ook als toonbeeld van de complexiteit die schuilgaat achter de notie van “publiek domein”, bevrijden we Anne’s dagboek zin voor zin. Je wordt uitgenodigd om je stem te lenen aan een of meerdere zinnen. Je kan de zinnen in willekeurige volgorde herbeluisteren.
                </p>
                <p>
                    Met je stem draag je bij tot de constructie van Anne’s collectieve stem, als een oproep voor vrede, verdraagzaamheid en inclusiviteit wereldwijd. De dag waarop het werk volledig deel uitmaakt van het publiek domein, zal niet alleen het tekstboek vrij beschikbaar zijn, maar ook dit collectieve audioboek via een site als LibriVox. Bovendien zullen de opnames geschonken worden als gegevens voor vrije spraakherkenningssoftwares zoals Voxforge, die over pijnlijk weinig Nederlandstalige trainingsdata beschikken. Deze belofte zal opgenomen worden in het testament van de twee auteurs van dit werk, Stéphanie Vilayphiou et An Mertens. 
                </p>

                <dl>
                    <dt>Referenties</dt>
                    <dd><a href="https://www.charlotteslaw.nl/2015/11/hoe-zit-dat-nou-auteursrecht-op-dagboek-anne-frank/" target="_blank">https://www.charlotteslaw.nl/2015/11/hoe-zit-dat-nou-auteursrecht-op-dagboek-anne-frank/</a></dd>
                    <dd><a href="https://uitspraken.rechtspraak.nl/inziendocument?id=ECLI:NL:RBAMS:2015:9312" target="_blank">https://uitspraken.rechtspraak.nl/inziendocument?id=ECLI:NL:RBAMS:2015:9312</a></dd>
                    <dd><a href="http://boingboing.net/2016/01/02/anne-franks-diary-is-in-the.html" target="_blank">http://boingboing.net/2016/01/02/anne-franks-diary-is-in-the.html</a></dd>
                    <dd><a href="http://www.theverge.com/2016/1/1/10698254/anne-frank-diary-free-download-copyright-dispute" target="_blank">http://www.theverge.com/2016/1/1/10698254/anne-frank-diary-free-download-copyright-dispute</a></dd>
            </div>
        </div>


        <div id="header-fr" lang="fr" class="header">
            <div class="intro">
                <p>
                    En tant qu’expérimentation, mais aussi comme exemple de la complexité qui est souvent cachée derrière la notion de «&#202F;domaine public&#202F;», nous&nbsp;vous proposons de libérer le journal d’Anne Frank, phrase par phrase. Vous&nbsp;êtes donc invité(e)s à prêter votre voix à l’une ou plusieurs phrases. Ces&nbsp;versions lues à haute voix, dans un ordre aléatoire, seront disponibles en&nbsp;ligne. 
                </p>
                <a href="#" class="read-more">→ En savoir plus</a>
            </div>
            <div class="about">
                <a class="close">×</a>
                <h1>The Death of the Authors, 1945</h1>
                <h2 lang="fr">La voix collective d’Anne Frank</h2>
                <p>
                En 1945, Anne Frank perd la vie à seulement quinze ans dans le camp de concentration de Bergen-Belsen. Dès le 1<sup>er</sup> janvier 2016, son journal aurait donc dû entrer dans le domaine public or cette entrée a fait l’objet de nombreuses discussions. En effet, la Fondation Anne Frank mise en place par Otto Frank, le père d’Anne, gère les droits de vente du journal le plus connu au monde. Une part de ces bénéfices est régulièrement versée à diverses organisations caritatives. Selon la Fondation, l’œuvre d’Anne Frank serait encore protégée par le droit d’auteur jusqu’au 1<sup>er</sup> janvier 2051.
                </p>
                <p>
                    Le journal, tel qu’on le connaît aujourd’hui et publié pour la première fois en  en 1947 en néerlandais sous le titre Het Achterhuis (la maison annexe), est une compilation réalisée par le père d’Anne, Otto Frank. Celui-ci a choisi, supprimé, voire même réécrit, des fragments de textes  des deux manuscrits originaux. Le journal d’Anne Frank devient donc une œuvre dérivée, et son père, le  co-auteur du journal. Le droit d’auteur expirant 70 ans après la mort de l’auteur  - Otto Frank est décédé en 1980 -  le journal n’entrerait donc dans le domaine public qu’en 2051.  Aux Pays-Bas et en Belgique les fragments originaux du journal écrit par Anne Frank sont entrés dans le domaine public. La question qui se pose est : les fragments remaniés par Otto Frank sont-ils des interventions artistiques ?
                </p>
                <p>
                    En tant qu’expérimentation, mais aussi comme exemple de la complexité qui est souvent cachée derrière la notion de «&#202F;domaine public&#202F;», nous vous proposons de libérer le journal d’Anne Frank, phrase par phrase. Vous êtes donc invité(e)s à prêter votre voix à l’une ou plusieurs phrases. Ces versions lues à haute voix, dans un ordre aléatoire, seront disponibles en ligne. 
                </p>
                <p>
                    Votre lecture contribuera ainsi à la construction de la voix collective d’Anne Frank, un appel à la paix, la tolérance et l’inclusion dans le monde. Le jour où le journal entrera entièrement dans le domaine public, non seulement le texte écrit sera disponible librement, mais également ce livre audio collectif via un site comme  LibriVox. De plus, vos voix seront transmises  vers des logiciels libres de reconnaissance vocale néerlandophone en pénurie d’enregistrements, tel que Voxforge. Cette promesse sera stipulée dans le testament des deux auteurs, Stéphanie Vilayphiou et An Mertens.
                </p>

                <dl>
                    <dt>Références</dt>
                    <dd><a href="https://www.charlotteslaw.nl/2015/11/hoe-zit-dat-nou-auteursrecht-op-dagboek-anne-frank/" target="_blank">https://www.charlotteslaw.nl/2015/11/hoe-zit-dat-nou-auteursrecht-op-dagboek-anne-frank/</a></dd>
                    <dd><a href="https://uitspraken.rechtspraak.nl/inziendocument?id=ECLI:NL:RBAMS:2015:9312" target="_blank">https://uitspraken.rechtspraak.nl/inziendocument?id=ECLI:NL:RBAMS:2015:9312</a></dd>
                    <dd><a href="http://boingboing.net/2016/01/02/anne-franks-diary-is-in-the.html" target="_blank">http://boingboing.net/2016/01/02/anne-franks-diary-is-in-the.html</a></dd>
                    <dd><a href="http://www.theverge.com/2016/1/1/10698254/anne-frank-diary-free-download-copyright-dispute" target="_blank">http://www.theverge.com/2016/1/1/10698254/anne-frank-diary-free-download-copyright-dispute</a></dd>
                </dl>
            </div>
        </div>


        <div id="header-en" lang="en" class="header">
            <div class="intro">
                <p>
                    As an experiment, but also as a paragon of the complexity that is so often hidden behind the notion of the “public domain”, we free Anne’s Diary sentence by sentence. You are warmly invited to lend your voice to one or more sentences. You will be able to listen to the spoken sentences in random order.
                </p>
                <a href="#" class="read-more">→ Read more</a>
            </div>
            <div class="about">
                <a class="close">×</a>
                <h1>The Death of the Authors, 1945</h1>
                <h2 lang="en">Anne Frank’s collective voice</h2>
                <p>
                    In 1945 the fifteen year old girl Anne Frank died in the concentration camp of Bergen-Belsen. Her diary would have entered the public domain on 1 January 2016, but the arrival of this event caused a lot of commotion. The Anne Frank Foundation, an organisation that was set up by Anne’s father, Otto Frank, collects the rights that come from the sales of the world most known diary. Parts of these benefits are regularly donated to charities. They claim that Anne’s diary is still under copyright till 1 January 2051. 
                </p>
                <p>
                    The book as we know it, published in 1947 in Dutch under the title Het Achterhuis (The Back House), is a compilation by Anne’s father, Otto Frank. He copied and pasted fragments from the original manuscripts. And he would also have rewritten parts of the diary in his own style, which would make the book a derived work, and Anne’s father the co-author. In this case, the copyright would expire only seventy years after his death in 1980. In the Netherlands and Belgium the fragments of the original manuscripts are in the public domain. The question remains whether the fragments Otto Frank has rewritten can be considered as an artistic intervention. 
                </p>
                <p>
                    As an experiment, but also as a paragon of the complexity that is so often hidden behind the notion of the “public domain”, we free Anne’s Diary sentence by sentence. You are warmly invited to lend your voice to one or more sentences. You will be able to listen to the spoken sentences in random order.
                </p>
                <p>
                    By recording a sentence you contribute to the construction of Anne Franks collective voice, as a call for worldwide freedom, tolerance and inclusivity. The day the journal will be entirely in the public domain, the textbook will be freely available, as well as this collective audiobook. Furthermore, your voices will be donated as trainingdata for free speech recognition softwares, like Voxforge, which suffer from a crucial lack of Dutch spoken language. This promise will be integrated in the testaments of the two authors of this work, Stéphanie Vilayphiou and An Mertens.
                </p>

                <dl>
                    <dt>References</dt>
                    <dd><a href="https://www.charlotteslaw.nl/2015/11/hoe-zit-dat-nou-auteursrecht-op-dagboek-anne-frank/" target="_blank">https://www.charlotteslaw.nl/2015/11/hoe-zit-dat-nou-auteursrecht-op-dagboek-anne-frank/</a></dd>
                    <dd><a href="https://uitspraken.rechtspraak.nl/inziendocument?id=ECLI:NL:RBAMS:2015:9312" target="_blank">https://uitspraken.rechtspraak.nl/inziendocument?id=ECLI:NL:RBAMS:2015:9312</a></dd>
                    <dd><a href="http://boingboing.net/2016/01/02/anne-franks-diary-is-in-the.html" target="_blank">http://boingboing.net/2016/01/02/anne-franks-diary-is-in-the.html</a></dd>
                    <dd><a href="http://www.theverge.com/2016/1/1/10698254/anne-frank-diary-free-download-copyright-dispute" target="_blank">http://www.theverge.com/2016/1/1/10698254/anne-frank-diary-free-download-copyright-dispute</a></dd>
                </dl>
            </div>
        </div>
        

    <div id="read">
        <h2 lang="nl">Lees een zin van Anne Frank</h2>
        <h2 lang="en">Read Anne Frank’s words</h2>
        <h2 lang="fr">Lisez les mots d’Anne Frank</h2>
        <div id="controls">
            <button onclick="startRecording(this);">
                <div lang="nl">opnemen</div>
                <div lang="en">record</div>
                <div lang="fr">enregistrer</div>
            </button>
            <button onclick="stopRecording(this);" disabled>stop</button>
        </div>

        <div id="sentence" data-id="{{ id }}"> {{ sentence|markdown }}</div>


    </div>




    <div id="check">
        <h2 lang="nl">Herbeluister je zin</h2>
        <h2 lang="en">Listen to your words</h2>
        <h2 lang="fr">Écoutez vos mots</h2>
        <ul id="recordingslist"></ul>
        <button id="send" onclick="reader.readAsDataURL(bla);" disabled>
            <div lang="nl">Stuur</div>
            <div lang="en">Send it</div>
            <div lang="fr">Envoyer</div>
        </button>
    </div>

    <div id="success" style="{% if sent %}display: flex;{% endif %}">
        <div lang="nl">
            Je geluidsopname staat online.<br/>Anne dankt je!<br/>Wil je een andere opname maken of luisteren naar opnames van&nbsp;anderen?
        </div>
        <div lang="en">
            Your recording has been uploaded.<br />Anne thanks you a lot!<br/>Would you like to record another one or listen to others’&nbsp;words?
        </div>
        <div lang="fr">
            Votre enregistrement a été téléversé.<br />Anne vous en remercie&#x202F;!<br/>Souhaitez-vous en enregistrer un autre ou écouter ceux des autres&#x202F;?
        </div>
        <a class="close">×</a>
    </div>
  
    <pre id="log"></pre>

    <div id="listen">
        <h2 lang="nl">Luister naar de zinnen van iemand anders</h2>
        <h2 lang="en">Listen to someone’s words</h2>
        <h2 lang="fr">Écoutez les mots d’un autre</h2>
        <audio controls src="{{ wave }}"></audio></li>
    </div>

    <script src="static/js/recorderjs/recorder.js"></script>
    <script type="text/javascript" charset="utf-8" src="static/js/jquery.min.js"></script>
    <script src="static/js/annefrank.js"></script>



</body>
</html>
