@font-face {
    font-family: Univers Else;
    src: url("/static/fonts/UniversElse-Light.ttf");
    font-weight: normal;
}
@font-face {
    font-family: Univers Else;
    src: url("/static/fonts/UniversElse-Regular.ttf");
    font-weight: bold;
}
@font-face {
    font-family: IM Fell DW Pica;
    src: url("/static/fonts/IMFePIrm28P.ttf");
    font-weight: normal;
}
@font-face {
    font-family: IM Fell DW Pica;
    src: url("/static/fonts/IMFePIit28P.ttf");
    font-style: italic;
}

body { 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    width: 100%;
    margin: 0 0;
    font-family: Univers Else;
    font-size: 18px;
    line-height: 1.25em;
    color: darkslategray;
}
div {
    /*outline: 1px solid salmon;*/
    padding: 1.25em;
    box-sizing: border-box;
}

h1 {
    margin: 0;
    line-height: 1.25em;
}
h2 {
    margin-top: 0;
    line-height: 1.25em;
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: 3px solid salmon;
}
a:hover {
    border: 0;
    color: salmon;
}

p:first-of-type {
    margin-top: 0;
}

ul {
    list-style-type: none;
}

dt {
    text-transform: uppercase;
}

dd {
    margin-left: 14px;
    text-indent: -12px;
}
dd:before {
    content: "– ";
}

sup {
    line-height: 0;
    vertical-align: 0.25em;
}

button {
    background: salmon;
    outline: 1px solid white;
    border: none;
    font-family: Univers Else;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    padding: 0.25em 0.5em;
}

button:hover {
    cursor: pointer;
    background-color: darksalmon;
}

button.inactive,
button[disabled] {
    background-color: pink;
}
button[disabled]:hover {
    cursor: default;
    background-color: pink !important;
}

button div {
    padding: 0;
}

audio {
    display: block;
    margin: auto;
}


#intro {
    width: 50%;
}

div.header {
    /*padding: 0;*/
    margin-top: 1.2em;
}

div.intro {
    display: inline-block;
    padding: 0;
    max-width: 35em;
}
div.about {
    display: none;
    background-color: white;
    outline: 3px solid salmon;
    position: fixed;
    top: 1.25em;
    right: 1.25em;
    bottom: 1.25em;
    left: 1.25em;
    column-width: 25em;
    column-gap: 1.25em;
    z-index: 1;
}

div.about p {
    display: inline-block;
}

div.about a:hover {
    /*color: black; */
}

a.close {
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    text-align: center;
    cursor: pointer;
    font-size: 80px;
    border-bottom: 0;
    padding: 0.25em 0.2em;
}
a.close:hover {
    color: salmon;
}

#progress {
    font-weight: bold;
    position: fixed;
    width: 140px;
    height: 140px;
    left: 35%;
    border: 3px solid salmon;
    border-radius: 70px;
    text-align: center;
    transform: rotate(-5deg);
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.75);
}
#progress div {
    padding: 0;
}

h2[lang=fr], 
div[lang=fr], 
h2[lang=en],
div[lang=en] {
    display: none;
}
#intro div#fr {
    /*display: block;*/
}
#read {
    font-size: 2em;
    flex-grow: 1;
    width: 100%;
    padding: 0 0.75em;
}
#read h2, #read #progress {
    float: left;
}
#read #sentence {
    clear: both;
    font-family: IM Fell DW Pica;
    line-height: 1em;
    border-left: 3px solid salmon;
    border-right: 3px solid salmon;
}
#read #sentence p {
    border-left: 3px solid salmon;
    border-right: 3px solid salmon;
    padding: 1.25em;
}
#controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    margin: 1.25em;
}
#check, #listen {
    flex-grow: 1;
    text-align: center;
}
#success {
    display: none;
    background-color: white;
    outline: 3px solid salmon;
    position: fixed;
    top: 30%;
    right: 30%;
    bottom: 30%;
    left: 30%;
    z-index: 1;
    align-items: center;
    text-align: center;
    font-size: 2em;
    line-height: 1.25em;
}
#log {
    color: lightgray;
    display: none;
}


@media (orientation: landscape) {
    body { flex-direction: row;}
    #controls { 
    }
}

